@model Order_Pizza.ViewModels.ForgotPasswordVM
@{
    ViewData["Title"] = "Forgot Password";
}

<h1>Forgot Password</h1>

<hr />
<div class="row">
    <div class="col-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Enter the phone number you registered with :</label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Confirmation SMS" class="btn btn-success my-3"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
