@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="display-4 mt-3">It's time to order PIZZA !!!</h1>
            <img src="~/images/PizzaTime.jpg" alt="pizza delivery" style="width:335px; height:330px;" class="m-4 img-fluid img-thumbnail rounded" />
        </div>
        <div class="col-3 position-relative">
            <div class="position-absolute" style="opacity:0.95;">
                <img src="~/images/Pizza.png" style="width:200px; height:200px;" />
            </div>
        </div>
    </div>
</div>
<hr />
<main class="container text-center py-3">
    <h3 class="py-3 bg-success  text-white rounded">
        To see our pizzas and order, register and then login to your user panel
    </h3>
</main>
